/* 密码强度 passwordStrength */
.passwordStrength {*zoom: 1;overflow: hidden;width:320px;}
.passwordStrength .strength-wrap {overflow: hidden;width: 300px;margin: 0 auto;}
.passwordStrength .strength-wrap span{display: none; margin: 0 14px;float: left;font-size: 14px;line-height: 14px}
.passwordStrength .strength-wrap .strong { display: inline; color: #63c462;}
.passwordStrength .strength-wrap .normal { display: inline; color: #fd8a24;}
.passwordStrength .strength-wrap .weak { display: inline; color: #f7383c;}
.passwordStrength .strength-wrap em {
    float: left;
    width: 18px;
    height: 10px;
    border-left: 1px solid #fff;
    line-height: 10px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #ebebeb;
    margin-top: 3px;
}
.passwordStrength .strength-strong .l1,.passwordStrength .strength-strong .l2,.passwordStrength .strength-strong .l3 { background: #63c462;}
.passwordStrength .strength-normal .l1, .passwordStrength .strength-normal .l2 { background: #fd8a24;}
.passwordStrength .strength-weak .l1 { background: #f7383c;}
